html,
body {
  font-family: 'Rubik';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1d3557;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf');
}