.tabs-container {
    display: flex;

    .menu {
        height: 400px;

        ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            height: 100%;
        }

        li {
            cursor: pointer;
            list-style: none;
            height: 100%;
            display: flex;
            align-items: center;
            padding-right: 2rem;

            p {
                margin: 0;
                padding-left: 1.5em;
                padding-right: 1em;
            }
        }

        .active {
            border-left: 3px solid #A8DADC;
        }

        .not-active {

            border-left: 2px solid #233554;
        }
    }

    .tab-content {
        border: .5px solid #A8DADC;
        padding: 2% 4%;

        .tab-item-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 20px;
            font-weight: bolder;

            *:nth-child(2) {
                text-align: end;
            }
        }

        .tab-item-date {
            p {
                margin: 0 0 30px 0;
            }
        }

        .tab-item-description {}

        .tab-item-techstack {
            padding-top: 4%;

            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                margin: 0;
                padding: 0;
                padding-top: 10px;

                li {
                    padding: 10px;

                    .tech-item {
                        width: 100px;

                        .tech-img {
                            * {
                                width: 100%;
                                height: auto;
                            }
                        }

                        p {
                            text-align: center;
                            padding-top: 10%;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 900px) {
    .tabs-container {
        flex-direction: column;

        .menu {
            padding: 10px;
            height: auto;

            ul {
                flex-direction: row;
                width: 100%;
                padding: 0;
            }

            li {
                width: 100%;
                padding: 10px 0 5px 0;

                p {
                    text-align: center;
                }
            }

            .active {
                border-left: none;
                border-top: 3px solid #A8DADC;
            }

            .not-active {
                border-left: none;
                border-top: 2px solid #233554;
            }
        }
    }
}