.tabs-container {
    display: flex;

    .menu {
        flex: 1;

        ul,
        li {
            cursor: pointer;
            list-style: none;
            
            padding: 5px 0 5px 15px;
            flex:1;
            justify-content: center;
            align-self: center;
            
        }

        .active {
            border-left: 3px solid #A8DADC;
        }

        .not-active {

            border-left: 2px solid #233554;
        }
    }



    .tab-content {
        flex: 3;
        border: 1px solid black;
        padding: 5px;
    }




}