.banner-container {
    background-color: #1d3557;
    color: #f1faee;
    height: 100vh;
    display: flex;
    align-items: center;

    .box {
        padding: 0 8em;

        * {
            margin: 0;
            margin-bottom: 15px;
        }

        .introduction {
        }

        .name {
            font-size: 72px;
        }

        .sub-title {
            font-size: 68px;
            color: #a8dadc;
        }

        .description {
            max-width: 60ch;
            line-height: 1.5;
        }
    }
}