.banner-container {
    background-color: #1d3557;
    color: #f1faee;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10%;

    .box {

        * {
            margin: 0;
            margin-bottom: 15px;
        }

        .introduction {}

        .name {
            font-size: 72px;
            font-weight: 600;
        }

        .sub-title {
            font-size: 68px;
            font-weight: 500;
            color: #a8dadc;
        }

        .description {
            width: 500px;
            line-height: 1.5;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}

@media (max-width: 900px) {
    .banner-container {
        .box {
            .name {
                font-size: 60px;
            }

            .sub-title {
                font-size: 42px;
            }
        }
    }
}

@media (max-width: 500px) {
    .banner-container {
        .box {
            .name {
                font-size: 48px;
            }

            .sub-title {
                font-size: 30px;
            }

            .description {
                width: 90%;
                font-size: 12px;
            }
        }
    }
}