.contact {
    text-align: center;
    padding: 3rem;

    button {
        cursor: pointer;
        background-color: #A8DADC;
        width: 300px;
        border-radius: 10px;
        border: 1px solid black;
        color: #1D3557;
    }
}