.about-container {
    background-color: #1d3557;
    color: #f1faee;
    height: 80vh;
    display: flex;
    padding: 0 8em;
    flex-direction: column;

    .title {
        font-size: 50px;
    }

    .box {
        display: flex;

        .text {
            flex: 1;
        }

        .image {
            flex: 1;
            justify-content: center;
            align-self: center;

            background-color: aquamarine;
            border-radius: 5px;
            height: 100%;
        }
    }
}